*{
    background-color: blue;
}
.hide {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}
#reset-button, #teamone-shoot-button, #teamtwo-shoot-button {
    background-color: green; 
    width: auto;
    height: auto; 
}